@model Realtors_Portal.Models.UserAccount

@{
    ViewBag.Title = "Verify";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Verify</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", type = "email" })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.VerificationCode, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.VerificationCode, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.VerificationCode, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Verify" class="btn btn-default" />
        </div>
    </div>
    @ViewBag.Message
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
