@model Realtors_Portal.Models.Contact

@using (Html.BeginForm("SendContact", "Contacts", FormMethod.Post, new { id = "contactForm", @class = "form-horizontal", role = "form" })) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(Model => Model.ListingID)
    @Html.HiddenFor(Model => Model.ReceiverCustomerID)

    <div class="form-group">
        @Html.LabelFor(model => model.SenderName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.SenderName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SenderName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SenderEmail, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.SenderEmail, new { @class = "form-control", type = "email" })
            @Html.ValidationMessageFor(model => model.SenderEmail, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SenderPhone, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.SenderPhone, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SenderPhone, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Message, new { @class = "form-control", rows = 4 })
            @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Send" class="btn btn-default" />
        </div>
    </div>
</div>
}

