@model IEnumerable<RealtorsPortal.Models.Contact>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SenderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SenderEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SenderPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SentAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsRead)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer1.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Listing.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SenderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SenderEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SenderPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SentAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsRead)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer1.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Listing.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ContactID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ContactID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ContactID })
        </td>
    </tr>
}

</table>
